/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Pragati+Narrow:wght@400;700&display=swap"); */

code {
  font-family: "Poppins", sans-serif;
  font-family: "Pragati Narrow", sans-serif;
}
/* .backimg {
  background-image: url("./assets/heroRight.svg");
  background-size: contain;
  width: 200%;
  height: 700px;
  background-repeat: no-repeat;
} */
@media (max-width: 650px) {
  .Navcontainer {
    display: none !important;
  }
}
